<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Include Bootstrap and jQuery, Source Sans Pro Font -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

        <!-- For Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-103046638-1', 'auto');
            ga('send', 'pageview');
        </script>

        <!-- Local stylesheet built on top of bootstrap CSS -->
        <style>
            html,body {
                height:100vh;
                margin: 0 auto;
                padding-top: 00px;
            }

            body {
                font-family: 'Source Sans Pro', sans-serif;
            }

            a {
                color: #3973ac; /* Offset Dark Blue for links */
            }

            .bg-header {
                background-color: #ffffff; /* White */
                color: #2d5986; /* Dark Blue */
            }

            .bg-body {
                background-color: #ecf2f9; /* Light Blue */
                color: #000000; /* Black */
                height: 70vh;
                overflow: auto;
            }

            .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
                background-color: #d8e5f3;
            }
        </style>

    </head>

    <body>

        <div class="container-fluid">
            <div class="text-center bg-header">
                <h1>Pediatric Resident Value Curriculum</h1>
            </div>
            <ul class="nav navbar-nav pull-right">
                <li><a href='/home/'>HOME</a></li>
                <li><a href='/about/'>ABOUT</a></li>
                <li><a href='/curriculum/'>CURRICULUM TOOLS</a></li>
                <li><a href='/calculator/'>COST CALCULATOR</a></li>
                <li><a href='/references/'>REFERENCES</a></li>
                {% if authenticated %}
                <li><a href='/logout/'>LOGOUT</a></li>
                {%  else %}
                <li><a href='/login/'>LOGIN</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="container-fluid bg-body">
            <div class="row text-center" style="color: #2d5986">
                <h2>About The Curriculum</h2>
            </div>
            <div class="row" style="padding-left: 5vh; font-size: large">
                <p>&nbsp;</p>
                <p>The Pediatric Value Curriculum, sponsored by funding from the Association of Pediatric Program Directors,
                aims to provide a cost and value curriculum for pediatric residency programs that is accessible,
                interactive, fun, and demonstrates significant change in behaviors and practices.</p>
                <p>&nbsp;</p>
                <p> The Institute of Medicine estimates that a third of healthcare expenditures, or approximately $800 billion
                annually is unnecessary and/or wasteful. Over the last fifty years, health care expenditures in the United
                States have grown more than five times faster than the gross domestic product.  Furthermore, they have
                increased fifty times faster than actual wages.<sup>1</sup> In pediatrics, healthcare spending continues
                to increase with the most recent statistics demonstrating a 4.6% increase from 2010-2013.  More than 20%
                of pediatric healthcare spending occurs in the acute inpatient setting despite a relatively low utilization
                of only 40 acute inpatient admissions per 1,000 children.<sup>2</sup> It is vital that in the current age
                of increased scrutiny of healthcare costs by government, patients, and insurance companies that physicians
                grow to better understand the waste in the system and make changes themselves.<sup>3</sup> In addition,
                the Accreditation Council for Graduate Medical Education mandates that trainee physicians “incorporate
                considerations of cost awareness” into their clinical practice;<sup>4</sup> however, many programs do not
                currently have in place the curriculum to facilitate this education.<sup>5</sup></p>
                <p>&nbsp;</p>
                <p>The curriculum consists of: </p>
                <ul>
                    <li>Four core lectures with associated activities and facilitator guides</li>
                    <li>A morning report template for case based discussions including the $1000 Work Up Tool, an
                        interactive cost calculator to be used during these sessions</li>
                    <li>Guide for development and implementation of a more intensive quality improvement value curriculum</li>
                    <li>Survey tools to evaluate knowledge gained through the curriculum</li>
                </ul>
                <p>&nbsp;</p>
                <p>References</p>
            </div>
            <div class="row">
                <ol style="font-size: small">
                    <li>Institute of Medicine. The Healthcare Imperative: Lowering Costs and Improving Outcomes: Workshop Series Summary. Washington, DC: National Academies Press; 2010.</li>
                    <li>Children’s Health Spending 2010-2013. Healthcare Cost Institute. http://www.healthcostinstitute.org/children’s-health-spending-2010–2013</li>
                    <li>Detsky AS, Verma AA. A new model for medical education: Celebrating restraint. JAMA. 2012; 308:1329–1330.</li>
                    <li>Accreditation Council of Graduate Medical Education (ACGME). Common Program Requirements: General Competencies. http://www.acgme.org/acgmeweb/Portals/0/PFAssets/ProgramResources/Common_Program_Requirements_07012011[1].pdf Accessed: February 2, 2015</li>
                    <li>Varkey P, Murad MH, Braun C, Grall KJ, Saoji V. A review of cost-effectiveness, cost-containment and economics curricula in graduate medical education. J Eval Clin Pract. 2010; 16 (6): 1055-1062</li>
                </ol>
            </div>
        </div>

        <footer class="container-fluid bg-header text-center">
            <h3>Sponsored by the Association of Pediatric Program Directors</h3>
        </footer>

    </body>

</html>