<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Include Bootstrap and jQuery, Source Sans Pro Font -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

        <!-- Stylesheet built on top of bootstrap CSS -->
        <!-- Local stylesheet built on top of bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="customstyle.css">


    </head>

    <body>

        <div class="container-fluid">
            <div class="text-center bg-header">
                <h1>Pediatric Resident Value Curriculum</h1>
            </div>
            <ul class="nav navbar-nav pull-right">
                <li><a href='/home/'>HOME</a></li>
                <li><a href='/about/'>ABOUT</a></li>
                <li><a href='/curriculum/'>CURRICULUM TOOLS</a></li>
                <li><a href='/calculator/'>COST CALCULATOR</a></li>
                <li><a href='/references/'>REFERENCES</a></li>
            </ul>
        </div>

        <div class="container-fluid bg-body">
            <p>&nbsp;</p>
        </div>

        <footer class="container-fluid bg-header text-center">
            <h3>Sponsored by the Association of Pediatric Program Directors</h3>
        </footer>

    </body>

</html>